.oc-button:disabled {
    --ocButtonBackground: var(--oc-disabled-bg, rgb(190 190 190));
    --ocButtonText: var(--oc-disabled-text, rgb(65 65 65));
    cursor: not-allowed;
    animation: none;
}

.oc-button:not(:disabled) {
    --ocButtonBackground: var(--oc-selected-bg, rgb(0 0 0));
    --ocButtonText: var(--oc-text-color-inverted, rgb(255 255 255));

    &:hover {
        animation: oc-button-bounce 1.25s ease-in-out infinite;
    }
}

.oc-button {
    position: relative;
    overflow: hidden;
    border-top: 0;
    border-bottom: 0;
    border-bottom: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 50%, transparent);
    border-right: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 50%, transparent);
    border-radius: var(--oc-border-radius, 0.5rem);
    padding: 1rem 1.5rem 0.75rem;
    background-color: var(--ocButtonBackground);
    color: var(--ocButtonText);
    font: inherit;
    cursor: pointer;
}

@keyframes oc-button-bounce {

    0%,
    100% {
        padding-inline: 1.5rem;
        transform: translateX(0);
        border-bottom: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 50%, transparent);
        border-right: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 50%, transparent);
    }

    50% {
        padding-inline: calc(1.5rem + 3px);
        transform: translateX(-3px);
        border-bottom: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 20%, transparent);
        border-right: 0.25rem solid color-mix(in srgb, var(--oc-text-color) 20%, transparent);
    }
}

@media (prefers-reduced-motion: reduce) {
    .oc-button {
        animation: none;
    }
}