@media (prefers-color-scheme: dark) {
    :root:not([data-oc-theme]) {
        --oc-body-bg: rgb(0 0 0);

        --oc-text-color: rgb(255 255 255);
        --oc-text-color-muted: rgb(200 200 200);
        --oc-text-color-inverted: rgb(0 0 0);

        --oc-border-color: rgb(90 90 90);

        --oc-disabled-bg: rgb(65 65 65);
        --oc-disabled-text: rgb(190 190 190);

        --oc-primary-color: var(--oc-brand-accent-color, rgb(200 200 200));
        --oc-primary-color-text: var(--oc-brand-accent-color-text, rgb(0 0 0));
    }
}

:root[data-oc-theme='dark'] {
    --oc-body-bg: rgb(0 0 0);

    --oc-text-color: rgb(255 255 255);
    --oc-text-color-muted: rgb(200 200 200);
    --oc-text-color-inverted: rgb(0 0 0);

    --oc-border-color: rgb(90 90 90);

    --oc-disabled-bg: rgb(65 65 65);
    --oc-disabled-text: rgb(190 190 190);

    --oc-primary-color: var(--oc-brand-accent-color, rgb(200 200 200));
    --oc-primary-color-text: var(--oc-brand-accent-color-text, rgb(0 0 0));
}