@media (prefers-color-scheme: dark) {
    :root {
        --oc-body-bg: rgb(0, 0, 0);
        --oc-layer-bg: rgb(30, 30, 30);
        --oc-text-color: rgb(255, 255, 255);
        --oc-selected-bg: var(--oc-brand-accent-color, rgb(100, 100, 100));
    }
}