@media (prefers-color-scheme: light) {
    :root:not([data-oc-theme]) {
        --oc-body-bg: rgb(255 255 255);
        --oc-layer-bg: rgb(247, 243, 236);
        --oc-layer-secondary-bg: rgb(247, 243, 237);
        --oc-layer-secondary-bg-hover: rgb(250, 246, 240);

        --oc-text-color: rgb(0 0 0);
        --oc-text-color-inverted: rgb(255 255 255);

        --oc-border-color: rgb(160 160 160);

        --oc-selected-bg: var(--oc-brand-accent-color, rgb(140 140 140));

        --oc-disabled-bg: rgb(190 190 190);
        --oc-disabled-text: rgb(65 65 65);
    }
}

:root[data-oc-theme='light'] {
    --oc-body-bg: rgb(255 255 255);
    --oc-layer-bg: rgb(246, 239, 228);
    --oc-layer-secondary-bg: rgb(247, 243, 237);
    --oc-layer-secondary-bg-hover: rgb(250, 246, 240);

    --oc-text-color: rgb(0 0 0);
    --oc-text-color-inverted: rgb(255 255 255);

    --oc-border-color: rgb(160 160 160);

    --oc-selected-bg: var(--oc-brand-accent-color, rgb(140 140 140));

    --oc-disabled-bg: rgb(190 190 190);
    --oc-disabled-text: rgb(65 65 65);
}