@media (prefers-color-scheme: light) {
    :root:not([data-oc-theme]) {
        --oc-body-bg: rgb(255 255 255);

        --oc-text-color: rgb(0 0 0);
        --oc-text-color-muted: rgb(80 80 80);
        --oc-text-color-inverted: rgb(255 255 255);

        --oc-border-color: rgb(160 160 160);

        --oc-disabled-bg: rgb(190 190 190);
        --oc-disabled-text: rgb(65 65 65);

        --oc-primary-color: var(--oc-brand-accent-color, rgb(20 20 20));
        --oc-primary-color-text: var(--oc-brand-accent-color-text, rgb(255 255 255));
    }
}

:root[data-oc-theme='light'] {
    --oc-body-bg: rgb(255 255 255);

    --oc-text-color: rgb(0 0 0);
    --oc-text-color-muted: rgb(80 80 80);
    --oc-text-color-inverted: rgb(255 255 255);

    --oc-border-color: rgb(160 160 160);

    --oc-disabled-bg: rgb(190 190 190);
    --oc-disabled-text: rgb(65 65 65);

    --oc-primary-color: var(--oc-brand-accent-color, rgb(20 20 20));
    --oc-primary-color-text: var(--oc-brand-accent-color-text, rgb(255 255 255));
}