.oc-text-input--stretch {
    --ocTextInputDisplay: flex;
}

.oc-text-input__content {
    display: var(--ocTextInputDisplay, inline-flex);
    flex-direction: column;
    gap: 8px;

    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='search'] {
        background-color: var(--oc-layer-secondary-bg);
        color: var(--oc-text-color);
        border: 1px solid var(--oc-border-color);
        border-radius: var(--oc-border-radius);
        padding: 0.75rem 0.5rem;
        min-width: 200px;
        /* temporary until sizing is handled */

        &:hover {
            background-color: var(--oc-layer-secondary-bg-hover);
            --ocTextInputPlaceholderOpacity: 75%;
        }

        &::placeholder {
            color: color-mix(in srgb, var(--oc-text-color) var(--ocTextInputPlaceholderOpacity, 50%), transparent);
            font-style: italic;
        }
    }
}