.oc-component {
    background-color: var(--oc-layer-bg, rgb(200 200 200));
    color: var(--oc-text-color, rgb(0 0 0));
    border: 2px solid color-mix(in srgb, var(--oc-text-color, rgb(0 0 0)) 50%, transparent);
    border-radius: var(--oc-border-radius, 0.5rem);
}
