body {
    box-sizing: border-box;
    background-color: var(--oc-body-bg);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--oc-text-color, rgb(0 0 0));
}

*, *::before, *::after {
    box-sizing: inherit;
}

:focus-visible {
    outline: 2px solid var(--oc-focus-color);
    outline-offset: 2px;
}