@media (prefers-color-scheme: light) {
    :root[data-oc-brand='ochre']:not([data-oc-theme]) {
        --oc-brand-accent-color: rgb(210 165 60);
        --oc-brand-accent-color-text: rgb(0 0 0);

        --oc-brand-focus-color: rgb(62, 137, 212);
    }
}

:root[data-oc-theme='light'][data-oc-brand='ochre'] {
    --oc-brand-accent-color: rgb(210 165 60);
    --oc-brand-accent-color-text: rgb(0 0 0);

    --oc-brand-focus-color: rgb(62, 137, 212);
}